<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />

    <application
        android:name=".AnimBroApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/animebro_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimBro">
        <activity
            android:name=".auth.screens.VerifyEmailSent"
            android:exported="false"
            android:label="@string/title_activity_verify_email_sent"
            android:theme="@style/Theme.AnimBro" />
        <activity
            android:name=".auth.screens.ForgotPassword"
            android:exported="false"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/Theme.AnimBro" />
        <activity
            android:name=".auth.screens.SignUp"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.AnimBro" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AnimBro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".anime.screens.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".anime.screens.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".anime.screens.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".anime.screens.AnimeListActivity"
            android:exported="false" />
    </application>

</manifest>